<div class="snakeBodyText">
    <h1>.NET Application</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="net.png">
    <img src="csharp.png">
</div>



<div class="snakeBodyExplain">
    <h3>Currently I'm working on building a <span class="highlightWord">cloud based discussion board</span> in <span class="highlightWord">C#</span> using the <span class="highlightWord">.NET</span> framework.
    </h3>
</div>

<div class="snakeBodyText">
    <h1>Early Childhood Education mobile application</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="android.png">
    <img src="java.png">
    <img src="git2.png">
    <img src="agile.png">
    <img src="figma.png">
</div>



<div class="snakeBodyExplain">
    <h3>Also developing in a team of 6 a <span class="highlightWord">mobile application</span> for early childhood intervention. This project is for a client
        and will be deployed for the <span class="highlightWord">Android operation system.</span>
    </h3>
</div>


