<div class="snakeBodyText">
    <h1>Web Development</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="html.png">
    <img src="css.png">
    <img src="typescript.png">
    <img src="favicon.ico">
    <h3>Source Code</h3>
    <a href="https://github.com/dadardark/Portfoliov2" target="_blank" class="gitLink"><img src="git.png"></a>
</div>

<div class="snakeBodyGif2"> 
    <img src = "driving.PNG" class="snakePic">
</div>

<div class="snakeBodyExplain">
    <h3>
        I am currently teaching myself <span class="highlightWord">front end web development</span> by creating a few websites. Currently working
        on a website for my partner's father's driving school business as well as a digital portfolio to better
        articulate my completed projects. After completing these websites, I aim to learn <span class="highlightWord">back end web
        development, specifically .NET</span>.
    </h3>
</div>

<div class="snakeFoot">
</div>