<div class="aboutImagesTop">
    <img src="jacob2.jpg">
    <img src="jacob3.jpg">
    <img src="jacob4.JPG">
</div>

<br>
<div class="aboutBodyText">
    <h1>about me</h1>
    <h3>My strong background in both leadership and technical skills makes me an excellent
        candidate for an internship. With a passion for IT and a solid foundation in software
        engineering, I am well-prepared to contribute effectively in any work enviroment for
        any team. My ongoing pursuit of a Bachelor of Computing at Curtin University, where
        I have demonstrated excellence through my award in Applied Information
        Technology, showcases my dedication to academic and technical growth.
        <br>
        <br>
        My practical experience as a Night Supervisor at Bunnings has honed my ability to
        manage teams, ensuring efficient workflow and adherence to safety standards. This
        role requires me to train new team members, manage inventory, and maintain a
        secure and organized warehouse environment. These responsibilities highlight my
        strong organizational skills, attention to detail, and ability to work under pressure—
        qualities that are invaluable in a tech environment.
        </h3>
    </div>

<div class="aboutImagesBot">
    <img src="jacob5.jpg">
    <img src="jacob6.JPG">
    <img src="jacob7.jpeg">
</div>
