<div class="aboutImagesTop">
    <img src="jacob2.jpg">
    <img src="jacob3.jpg">
    <img src="jacob4.JPG">
</div>

<br>
<div class="aboutBodyText">
    <h1>about me</h1>
    <h3>23 year old final year software engineering student studying at Curtin University, Perth WA.
        I graduated from Trinity College in 2018, winning the IT award but with ambitions to pursure a career in the engineering field.
        In 2019 I began studying chemical engineering at Curtin, but realised that it wasn't for me. I decided
        to take a year off and figure out what I wanted to do. In 2021 I returned to Curtin and began studying software engineering.
        <br>
        



    </h3>
</div>

<div class="aboutImagesBot">
    <img src="jacob5.jpg">
    <img src="jacob6.JPG">
    <img src="jacob7.jpeg">
</div>
