<div class="aboutImagesTop">
    <img src="jacob2.jpg">
    <img src="jacob3.jpg">
    <img src="jacob4.JPG">
</div>

<br>
<div class="aboutBodyText">
    <h1>about me</h1>
    <h3>I’m 23 year old final year software engineering student studying at Curtin University, Perth WA.
        I graduated from Trinity College in 2018, winning the IT award but with ambitions to pursure a career in the engineering field.
        In 2019 I began studying chemical engineering at Curtin, but realised that it wasn't for me. I decided
        to take a year off and figure out what I wanted to do. In 2021 I returned to Curtin and began studying software engineering.
        <br>
        <br>
        Growing up I've always had a passion for helping people and the enviroment. I chose to study chemical engineering because
        the concept of applying my knowledge into a field which would have a lasting positive impact on society and the environment aligned with my core values. 
        However, with my passion for chemistry dwindiling, I discovered a different avenue to pursure these values in software engineering. Similarly, 
        the idea of providing technological solutions to society to have a positive impact paired with my passion for leadership and learning allured me into the software engineering discipline.



    </h3>
</div>

<div class="aboutImagesBot">
    <img src="jacob5.jpg">
    <img src="jacob6.JPG">
    <img src="jacob7.jpeg">
</div>
