<header> 
    <div class="title">
        <h1>Jacob Arvino</h1>
        <h3>Software Engineer</h3>
    </div>
    <div class="headOptions">
        <a routerLink="/homePage"><h3 class="home">home</h3></a>
        <a routerLink="/aboutPage"><h3 class="about">about</h3></a>
        <div class="projects">
            <h3>projects</h3>
            <div class="content">
                <a hre="/snakePage">1. Snake</a>
                <a href="/banktellerPage">2. Bank Teller</a>
                <a href="/tictactoePage">3. Tic-Tac-Toe</a>
                <a href="/dietappPage">4. Diet app</a>
                <a href="/sscPage">5. Curtin SS24</a>
                <a href="/webdevPage">6. Web Dev</a>
                <a href="/futurePage">7. Ongoing</a>
            </div>
        </div>
        <a href="/contactPage"><h3 class="contact">contact</h3></a>
    </div>
</header>