<div class="snakeBodyText">
    <h1>Connect with me!</h1>
</div>

<div class="sbtDetails"> 
    <a href="mailto:jacobarvino@gmail.com" target="_blank" class="gitLink"><img src="gmail.png"></a>
    <a href="https://www.linkedin.com/in/jacob-arvino-99b102317/" target="_blank" class="gitLink"><img src="linkedin.png"></a>
    <a href="https://github.com/dadardark" target="_blank" class="gitLink"><img src="git.png"></a>
    <a href="https://drive.google.com/file/d/1hYupJ4P3YwUjKuYZY5o4K8_FrWHLB0NV/view?usp=sharing" target="_blank" class="gitLink"><img src="drive.png"></a> 

</div>




   