<div class="snakeBodyText">
    <h1>Curtin Sustainability Challenge 2024</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="adobexd.png">
    <h3>Source Code</h3>
    <a href="https://drive.google.com/file/d/1XoGNcCp4E8UrBjfQ2LR0NHpEY326ujIq/view?usp=drive_link" target="_blank" class="gitLink"><img src="drive.png"></a>
</div>

<div class="snakeBodyGif2"> 
    <img src="ssteam.jpg" class="snakeGif">
</div>
    
<div class="snakeBodyExplain">
    <h3>
        The Curtin sustanability Challenge 2024 was a <span class="highlightWord">challenge-based, intensive unit</span> which provided me the ability to learn about vital sustainability
questions in an <span class="highlightWord">interdisciplinary team-based approach</span> over the course of a week. I worked closely with
<span class="highlightWord">researchers, academic leads and industry partners</span> such as Ampcontrol to gain <span class="highlightWord">real-world insight</span> into the
challenges faced by organizations seeking to incorporate sustainable practices into their operations. The
challenge ended with a formal expo event and to showcase our solution, I created an interactive roadmap
using <span class="highlightWord">Adobe XD</span>.
    </h3>
</div>

<div class="dietFoot">
    <iframe width="960" height="540" src="https://xd.adobe.com/embed/c2e3fde6-e270-4f3e-84f0-0b5a2118a30f-97b0/?fullscreen" frameborder="0" allowfullscreen></iframe>
</div>
