<div class="snakeBodyText">
    <h1>Snake</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="c.png">
    <h3>Source Code</h3>
    <a href="https://github.com/dadardark/snake2" target="_blank" class="gitLink"><img src="git.png"></a>
</div>

<div class="snakeBodyGif2"> 
    <img src="snake gif.gif" class="snakeGif">
    <img src = "snake.jpg" class="snakePic">
</div>

<div class="snakeBodyExplain">
    <h3>
        Snake was my first introduction to the <span class="highlightWord">C</span> programming language and 
        surprisingly my first real exposure to <span class="highlightWord">object-oriented programming.</span>
        C's manual memory-management requirement taught me the basics of how the stack<span>and 
        <span class="highlightWord">memory allocation</span> operates within programming languages. 
        The concept of a <span class="highlightWord">Makefile</span> also illustrated for me the linking process 
        between class, header and other class files.</span>
    </h3>
</div>

<div class="snakeFoot">
    <img src="cClass.PNG">
    <img src="cMalloc.PNG">
</div>