<div class="snakeBodyText">
    <h1>Tic-Tac-Toe</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="java.png">
    <img src="android.png">
    <img src="git2.png">
    <h3>Source Code</h3>
    <a href="https://github.com/jamnnuts/MAD-TicTacToe" target="_blank" class="gitLink"><img src="git.png"></a>
</div>

<div class="tttBodyGif"> 
    <img src="tictactoe.gif" class="snakeGif">
</div>

<div class="snakeBodyExplain">
    <h3>This was a group project and required us to work
        <span class="highlightWord">collaborativley </span> using GitHub's commit, push, merge and version 
        control features. <span class="highlightWord">Java/Kotlin</span>
        were used to write the backend of the game with Android Studio's frontend UI used to create the display.
    </h3>
</div>

<div class="tttFoot">
    <img src="tttsettings.PNG"> 
    <img src="tictactoe2.gif">
    <img src="tttstats.PNG">
</div>

<div class="snakeBodyExplain">
    <h3>The app includes a range of <span class="highlightWord">extra and personalised features</span> including:<br><br>
        
        • Settings including<span class="highlightWord"> pvp or pve</span>, <span class="highlightWord">board size</span> and <span class="highlightWord">win condition options.</span><br>
        • Player creation, where players can choose <span class="highlightWord">custom names</span>, <span class="highlightWord">markers</span> and <span class="highlightWord">avatars.</span><br>
        • Stats page to keep track of all <span class="highlightWord">wins, losses, draws, games played and win %.</span><br>
        
    </h3>
</div>