<div class="snakeBodyText">
    <h1>Diet App</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language:</h3>
    <img src="figma.png">
    <img src="agile.png">
    <img src="maze.png">
    <h3>Source Code</h3>
    <a href="https://drive.google.com/file/d/10HBtZ35nL4NCli6JwbJ9KroAXm6nnkdf/view?usp=drive_link" target="_blank" class="gitLink"><img src="drive.png"></a>
</div>

<div class="snakeBodyGif2"> 
    <img src="dietriot.gif" class="snakeGif">
    <iframe class = "snakegif" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FHl7DaRqC0bBaUzoPioHgRh%2FDiet-Riot-Application%3Fnode-id%3D1-2%26t%3DMF287i37E7GnWV1M-1%26scaling%3Dscale-down%26content-scaling%3Dfixed%26page-id%3D0%253A1%26starting-point-node-id%3D1%253A2" allowfullscreen></iframe></div>


<div class="snakeBodyExplain">
    <h3>
        This was a project solely focused on the <span class = "highlightWord">software development lifecycle (SDLC)</span> of a mobile diet
application. The focus was adhering to <span class = "highlightWord">industry standards</span> around writing formal documentation including
<span class = "highlightWord">SRS, Low and High-fidelity prototyping, Usability testing and handoff</span>. We used the Maze application to
conduct testing for our prototypes and gain feedback to be iterated into our final design. I used agile tools
such as <span class = "highlightWord">Gannt charts and burn up/down charts</span> to track the progression of the project.
    </h3>
</div>

<div class="dietFoot2">
    <img src="Ganntchart.png">
</div>

<div class="dietFoot">
    <img src="ppoints.png">
    <img src="isolutions.png">
</div>
