<div class="snakeBodyText">
    <h1>Bank Teller</h1>
</div>

<div class="sbtDetails"> 
    <h3>Language</h3>
    <img src="c.png">
    <h3>Source Code</h3>
    <a href="https://github.com/dadardark/Bank-Teller" target="_blank" class="gitLink"><img src="git.png"></a>
</div>

<div class="snakeBodyGif"> 
    <img src="bank gif.gif" class="snakeGif">
    <img src="bankteller.jpeg" class="snakeGif">
</div>

<div class="snakeBodyExplain">
    <h3>Designed to simulate <span class="highlightWord">parallel thread processing and shared resource usage</span> in computer operating
        systems through the analogy of a bank teller scenario. The program uses <span class="highlightWord">simple and broadcast mutex
        locks</span> from the pthreads library to achieve <span class="highlightWord">synchronization</span> between threads and allow for multiple threads
        to access a shared resource safely.
    </h3>
</div>

<div class="snakeBodyGif2"> 
    <img src="mutex.gif" class="snakeGif">
</div>
