@font-face {
    font-family: LEMONMILKBOLD;
    src: url(/Fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: LEMONMILKREGULAR;
    src: url(/Fonts/LEMONMILK-Regular.otf);
}

header a:link, a:visited {
    text-decoration: none;
    outline: none;
    color:rgb(238, 238, 238);
}

body{
    background-color:rgb(34, 40, 49);
    margin: 0px;
}

header{
    background-color:rgb(57, 62, 70);
    padding-left: 10%; 
    padding-right: 10%;
}

header a:hover{
    color: rgb(0, 173, 181);
    cursor: pointer;
}

header a:active{
    font-size: 0.9em;
}

.title{
    font-size: 2em;
    font-family: LEMONMILKBOLD;
    color:rgb(0, 173, 181);
    margin-bottom: -3%;

}
.title h1{
    padding-top: 2%;
}
.title h3{
    color:rgb(238, 238, 238);
    font-family: LEMONMILKREGULAR;
}

.headOptions {
    display: flex;
    gap: 60px;
    font-size: 1.8em;
    justify-content: end;
    color:rgb(238, 238, 238);
    font-family: LEMONMILKREGULAR;
    
}

.headOptions h3:hover{
    transition: .3s;
    transform: scale(1.15);
    color: rgb(0, 173, 181); 
    cursor: pointer;
}
.bodyIntro{
    display: flex;

    padding-top:10% ;
    padding-bottom: 10%;

}

.bodyIntroText{
    font-size: 2em;
    padding-right: 1%;
    color: rgb(238, 238, 238);
    box-shadow: 12px 12px 2px 1px rgb(24, 28, 34);
    margin-left: 10%;
    font-family: monospace;
    max-width: 40%;
    padding: 2%;
    background-color: rgb(57, 62, 70);
}

body img{
    box-shadow: 12px 12px 2px 1px rgb(24, 28, 34);
}

.jacob1{
    height: 600px;
    margin-left: 8%;
}

.highlightWord{
    color: rgb(0, 173, 181);
}

.aboutImagesTop{
    display: flex;
    margin-left:20% ;
    margin-right: 20%;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    gap: 5%;
    
}

.aboutBodyText{
    text-align: center;
    color: rgb(238, 238, 238);
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    box-shadow: 12px 12px 2px 3px rgb(24, 28, 34);
    background-color: rgb(57, 62, 70);
}


.aboutBodyText h1{
    font-size: 3em;
    font-family: LEMONMILKREGULAR;
}
.aboutBodyText h3{
    font-size: 2em;
    font-family: monospace;
    
}

.aboutImagesBot{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    height: 350px;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: center;
    gap:20%;
}

.projects{
    display: inline-block;
    cursor: pointer;
}

.priojects a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.projects .content{
    display: none;
    position: absolute;
    background-color: rgb(57, 62, 70);
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.projects:hover .content{
    display: flex;
    flex-direction: column;
    color: rgb(0, 173, 181);
    padding: 1%;
    
}

.snakeBodyText{
    padding-top: 5%;
    padding-bottom: 2%;
}
.snakeBodyText h1{
    font-size: 4em;
    text-align: center;
    color: rgb(0, 173, 181);
    font-family: monospace;
    padding-bottom: 1%;
}
.sbtDetails{
    display: flex;
    justify-content: center;
    gap:32px;
    padding-bottom: 2%;
}

.gitLink:hover{
    transition: .2s;
    transform: scale(1.15);
}

.sbtDetails h3{
    font-size: 1.7em;
    color: rgb(117, 126, 139);
    font-family: monospace;
}

.sbtDetails img{  
    height: 64px;  
    width: auto;
    box-shadow: none;
    
}

.snakeBodyGif{
    display: flex;
    height: 400px;
    justify-content: center;
    gap:7%;
    padding-bottom: 4%;
}

.snakeBodyGif2{
    display: flex;
    height: 400px;
    justify-content: center;
    gap:7%;
    padding-bottom: 4%;
}

.snakeBodyExplain{
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: rgb(238, 238, 238);
    box-shadow: 12px 12px 2px 3px rgb(24, 28, 34);;
    background-color: rgb(57, 62, 70);
    min-width: 100px;
    margin-bottom: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.snakeBodyExplain ul{
    padding-left: 10%;
    padding-right: 10%;
}
.snakeBodyExplain2{
    text-align: center;
    font-family: cursive;
    font-size: 1.5em;
    color: rgb(238, 238, 238);
    box-shadow: 12px 12px 2px 3px rgb(24, 28, 34);;
    background-color: rgb(57, 62, 70);
    min-width: 100px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.snakeFoot{
    display: flex;
    justify-content: center;
    gap:64px;
    margin-bottom: 10%;
    height: 400px;
}

.tttBodyGif{
    display: flex;
    height: 700px;
    justify-content: center;
    gap:7%;
    padding-bottom: 4%;
}

.tttFoot{
    display: flex;
    justify-content: center;
    gap:200px;
    margin-bottom: 4%;
    height: 500px;
}

.ssPic{
    display: flex;
    height: 600px;
    justify-content: center;
    gap:7%;
    padding-bottom: 4%;
}

.dietFoot{
    display: flex;
    justify-content: center;
    gap: 64px;
    height: 500px;
    margin-bottom: 4%;
}

.dietFoot2{
    display: flex;
    justify-content: center;
    gap: 64px;
    height: 700px;
    margin-bottom: 4%;
}

footer{
    text-align: center;
    font-family: monospace;
    
}




