<div class="bodyIntro">
    <img src="jacob1.jpg" class="jacob1">
    <h3 class="bodyIntroText"> 
        Hi, I'm Jacob.<br><br><br>
        A software engineering student studying at 
        Curtin University, Perth.<br><br>
        I built this website to showcase some of 
        the projects I have completed, both during 
        my studies at Curtin University as well as in my free time 
        (such as this website built using the <span class="highlightWord">Angular framework</span>)
        <br><br><br><br><br><br>
        Hope you enjoy.
    </h3>
</div>